body {
    margin-top: 2em;
    color: aliceblue;
    background-color: rgb(55, 55, 70);
    width: 100%;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title,
#description,
#submit-label {
    text-align: center;
    margin: 0.5em 0;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
select,
textarea {
    width: 100%;
    height: 2em;
    margin-top: 0.5em;
    background-color: rgb(42, 39, 52);
    border: #a3a3c1AF;
    color: #fff;
}

textarea {
    height: unset;
}

form {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    border: 0.2em groove #a3a3c1AA;
}

fieldset {
    border: unset;
    border-bottom: 0.5em groove #a3a3c1AF;
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: 0.5em;
    font-size: 8px;
    width: 10%;
    vertical-align: bottom;
}

input[type="submit"] {
    width: 50%;
}

.inline {
    width: unset;
    margin: 0 0 0.5em 0;
    vertical-align: middle;
}

#submit {
    background-color: rgb(91, 88, 102);
    border-radius: 10ex;
    border: 2px inset rgb(75, 71, 71);
}

fieldset:last-of-type {
    border-bottom: unset;
}